@page "/deck/{DeckId}"
@inject ILogger<DeckView> logger
@inject ScryfallApiClient scryfallApi
@inject LocalStorage storage

@if(Deck == null)
{
    <h1>Deck builder</h1>
}
else
{
    <h1><input type="text" bind="@Deck.Name" /></h1>
    <div class="flex flex-wrap">
        <div class="flex-grow">
            <h5><i class="ms ms-creature" />Creatures</h5>
            <div class="deck">
                @foreach (var card in Deck.Main.OrderBy(c => c.Name).Where(c => c.TypeLine.Contains("Creature")))
                {
                    <br /><img class="card-image" src='@card.ImageUris["small"]'/>
                }
            </div>
        </div>
        <div class="flex-grow">
            <h5><i class="ms ms-planeswalker" />Planeswalkers</h5>
            <div class="deck">
                @foreach (var card in Deck.Main.OrderBy(c => c.Name).Where(c => c.TypeLine.Contains("Planeswalker")))
                {
                    <br /><img class="card-image" src='@card.ImageUris["small"]'/>
                }
            </div>
        </div>
        <div class="flex-grow">
            <h5><i class="ms ms-instant" />Instants</h5>
            <div class="deck">
                @foreach (var card in Deck.Main.OrderBy(c => c.Name).Where(c => c.TypeLine.Contains("Instant")))
                {
                    <br /><img class="card-image" src='@card.ImageUris["small"]'/>
                }
            </div>
        </div>
        <div class="flex-grow">
            <h5><i class="ms ms-sorcery" />Sorceries</h5>
            <div class="deck">
                @foreach (var card in Deck.Main.OrderBy(c => c.Name).Where(c => c.TypeLine.Contains("Sorcery")))
                {
                    <br /><img class="card-image" src='@card.ImageUris["small"]'/>
                }
            </div>
        </div>
        <div class="flex-grow">
            <h5><i class="ms ms-artifact" />Artifacts</h5>
            <div class="deck">
                @foreach (var card in Deck.Main.OrderBy(c => c.Name).Where(c => c.TypeLine.Contains("Artifact") && !c.TypeLine.Contains("Creature")))
                {
                    <br /><img class="card-image" src='@card.ImageUris["small"]'/>
                }
            </div>
        </div>
        <div class="flex-grow">
            <h5><i class="ms ms-enchantment" />Enchantments</h5>
            <div class="deck">
                @foreach (var card in Deck.Main.OrderBy(c => c.Name).Where(c => c.TypeLine.Contains("Enchantment") && !c.TypeLine.Contains("Creature")))
                {
                    <br /><img class="card-image" src='@card.ImageUris["small"]'/>
                }
            </div>
        </div>
        <div class="flex-grow">
            <h5><i class="ms ms-land" />Lands</h5>
            <div class="deck">
                @foreach (var card in Deck.Main.OrderBy(c => c.Name).Where(c => c.TypeLine.Contains("Land") && !c.TypeLine.Contains("Creature")))
                {
                    <br /><img class="card-image" src='@card.ImageUris["small"]'/>
                }
            </div>
        </div>
    </div>
    <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light" onclick=@Save>Save</button>
}
<div class="flex flex-wrap">
    <div class="flex-grow">
          <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-grey-light bg-grey-lightest">
                <div class="flex-auto p-6">
                    <CardSearch AddCard=@Choose />
                </div>
          </div>       
    </div>
</div>


@functions {

    [Parameter]
    private string DeckId { get; set; }

    private Deck Deck { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        logger.LogDebug($"Deck ID: {DeckId}");
        if(string.IsNullOrEmpty(DeckId))
        {
            return;
        }
        logger.LogDebug("Loading from storage");
        var deckData = await storage.GetItem<string>(DeckId);
        if(string.IsNullOrEmpty(deckData))
        {
            logger.LogDebug("Not found in storage");
            Deck = new Deck()
            {
                Id = DeckId
            };
        }
        else
        {
            logger.LogDebug(deckData);
            Deck = JsonConvert.DeserializeObject<Deck>(deckData);
        }


        StateHasChanged();
    }

    private async void Save()
    {
        await storage.SetItem<string>(DeckId, JsonConvert.SerializeObject(Deck));
    }

    private void Choose(Card card, int count)
    {
        Deck.Main.AddRange(Enumerable.Range(0, count).Select(c => card));
        StateHasChanged();
    }
}
